<html>
    <head>
        {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css"> --}}
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <p>Last updated: ???</p>

        <div class="vbar OPEN">
            {{>rfc_table rfcs = open_rfcs}}
        </div>

        <div class="vbar UNKNOWN">
            {{>rfc_table rfcs = unknown_rfcs}}
        </div>

        <div class="vbar CLOSED">
            {{>rfc_table rfcs = closed_rfcs}}
        </div>
    </body>
</html>